.container {
    width: 100%;
    height: 100vh;
    padding-top: 15rem;
    position: relative;
    // &--general {
    //     background: $black;
    //     overflow: hidden;
    // }
    // &--limit {
    //     max-width: 1200px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.6);
        z-index: 0;
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
}
.prueba {
    height: 150vh;
}