// @import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
  font-family: 'euphorigenic';
  src:
        url('../fonts/euphorigenic.woff') format('woff'),
        url('../fonts/euphorigenic.woff2') format('woff2'),
        url('../fonts/euphorigenic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JaneAust';
  src:
        url('../fonts/JaneAust.woff') format('woff'),
        url('../fonts/JaneAust.woff2') format('woff2'),
        url('../fonts/JaneAust.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}