html, body, body *, *, *::before, *::after {
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
    background-color: rgba($black, 0.8);
    font-family: $fontFamily_principal;
    font-size: $baseFont + px;
	font-size: 1.6rem;
    font-weight: 400;
	&.showMenu {
		.header {
			height: 100%;
			transition: height 1s;
		}
		.navigation.mobile {
			opacity: 1;
			pointer-events: all;
			transition: opacity .5s linear;
		}
	}
}

body, h6, h5, h4, h3, h2, h1 {
    padding: 0;
	margin: 0;
}

img {
	display: inline-block;
	max-width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
}

ul, ol {
	list-style: none;
}

input:focus, textarea:focus, a:focus {
	outline: none;
}